@import '../../styles/index.scss';

.headerWrapper {
  height: $header-height;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 35px;
}

.menuArea {
  display: flex;
  align-items: center;
  cursor: pointer;

  > span {
    margin-right: 10px;
  }
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
