@import '../../styles/index.scss';

.headerWrapper {
  height: $header-height;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 35px;
  background: #ffffff;
  position: relative;
  z-index: 10;
}

.logo {
  font-size: 35px;
}

.menuArea {
  display: flex;
  align-items: center;
  cursor: pointer;

  > span {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
