@import '../../styles/index.scss';

.bgNone {
  background: none;
}

.bgGray {
  background: $bg-gray-base;
}

.headerWrapper {
  height: $header-height;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 35px;
  pointer-events: none;
  position: relative;
  z-index: 10;
}

.logo {
  font-size: 35px;
  pointer-events: auto;
}

.menuArea {
  display: flex;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;

  > span {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
