@import '../../styles/index.scss';

.h1 {
  margin-bottom: 50px;
}

.topWrapper {
  position: relative;
  z-index: 10;
  pointer-events: none;
}

.topMain {
  height: calc(100vh - #{$header-height});
  padding-top: 80px;
  pointer-events: none;
}

// .topbgImg {
//   position: fixed;
//   z-index: 5;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   background: url('/static/img/top.jpg') no-repeat;
//   background-size: cover;
//   height: 100vh;
// }

.subTitle {
  font-size: 25px;
  margin-bottom: 130px;
  line-height: 1.5;
}

.subText {
  margin-bottom: 45px;
  font-weight: bold;
}

.itemText {
  margin-bottom: 100px;
}

.h2 {
  font-size: 30px;
  line-height: 1.5;
}

.contentsLeft {
  padding: 80px 60px 120px;
  background: $primary-color;
  color: $text-white;
  width: 50%;
  pointer-events: auto;

  > p {
    line-height: 1.8;
  }
}

.contentsRight {
  padding: 80px 60px;
  background: $secondary-color;
  width: 50%;
}

.contentsLeft2 {
  background: url('/static/img/imgBusiness.jpg') no-repeat;
  background-size: cover;
  width: 50%;
}

.contentsRight2 {
  padding: 100px 60px 200px;
  background: $bg-gray;
  width: 50%;
  pointer-events: auto;

  > p {
    line-height: 1.8;
  }
}

.serviceContents {
  position: relative;
  padding: 180px 0;
  text-align: center;
  background: #ffffff;
}

.serviceItemWrapper {
  justify-content: space-around;
}

.serviceItem {
  width: 25%;
}

.serviceItemTitle {
  font-weight: bold;
  margin-bottom: 20px;
}

.blogs {
  background: #ffffff;
  pointer-events: auto;
}

.blogsTitleWrapper {
  text-align: center;
  padding: 70px 0;
}

.blogButtonWrapper {
  text-align: center;
  padding-bottom: 80px;
}

.contact {
  padding: 180px 60px 230px;
  text-align: center;
  background: $primary-color;
  color: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  min-height: 100vh
}

.button {
  background: $accent-color;
  color: #ffffff;
  cursor: pointer;
  height: 74px;
  line-height: 74px;
  width: 270px;
  border-radius: 40px;
  border: none;
  transition: all 200ms ease-out;
  position: relative;

  &:hover {
    padding-right: 40px;
    background: darken($accent-color, 4%)
  }

  > img {
    transition: all 200ms ease-out;
    opacity: 0;
  }

  &.onHover {
    > img {
      opacity: 1;
    }
  }
}

.iconPlane {
  width: 25px;
  height: auto;
  position: absolute;
  top: 25px;
  right: 28px;
}

.iconUi, .iconDesign, .iconWeb {
  width: 100px;
  margin-bottom: 25px;
}
