.nav {
  list-style: none;
  padding: 30px 30px 50px 50px;
  margin: 0;
  position: relative;

  > li {
    font-size: 18px;
    height: 45px;
    line-height: 45px;

    > a {
      color: #fff;
    }
  }
}

.navWrapper {
  width: 320px;
  background: #222537;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 100;
}

.crossIcon {
  text-align: right
}

.sidebarDim {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 10;
  cursor: pointer;
}
