@import '../../styles/index.scss';

.nav {
  padding: 30px 30px 50px 50px;
  margin: 0;
  position: relative;
}

.subMenu {
  color: $text-white;
}

.subMenuList {
  padding-left: 0.5em;
  list-style: none;
  font-size: 18px;
  line-height: 45px;
  opacity: inherit;
  transition: opacity 0.5s linear;

  > a {
    color: $text-white;

    &:hover {
      color: $accent-color;
    }
  }
}

.navWrapper {
  width: 320px;
  background: $primary-color;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 100;
}

.crossIcon {
  text-align: right
}

.sidebarDim {
  transition: all 500ms ease-out;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 10;
  cursor: pointer;
}

.stoker {
  position: absolute;
  opacity: 0;
  transition: left 100ms ease-out 0s, top 100ms ease-out 0s;
}

.showStoker {
  opacity: 1;
}

.li {
  list-style: none;
  font-size: 18px;
  line-height: 45px;
  opacity: 0;
  transition: opacity 0.5s linear;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {  
        transition-delay: #{$i / 6}s;
    }
  }
  > a {
    color: $text-white;

    &:hover {
      color: $accent-color;
    }
  }
}

.slideFadeIn {
  opacity: 1 !important;
}

.slideFadeOut {
  opacity: 0 !important;
}
 