.nav {
  padding: 30px 30px 50px 50px;
  margin: 0;
  position: relative;
}

.li {
  list-style: none;
  font-size: 18px;
  height: 45px;
  line-height: 45px;

  > a {
    color: #fff;

    &:hover {
      color: red;
    }
  }
}

.navWrapper {
  width: 320px;
  background: #222537;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 100;
}

.crossIcon {
  text-align: right
}

.sidebarDim {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 10;
  cursor: pointer;
}

.li {
  opacity: 0;
  transition: opacity 0.5s linear;

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {  
        transition-delay: #{$i / 6}s;
    }  
  } 
}

.slideFadeIn {
  opacity: 1;
}
 