.bar {
  width: 35px;
  border-bottom: solid 1px #343434;
  height: 2px;
  margin-right: 10px;
  transition: width 0.15s ease-in;
  opacity: 0.5;
}

.link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding-top: 20px;

  &:hover {
    .bar {
      width: 45px;
      opacity: 1;
    }
  }
}

.textWhite {
  color: #ffffff;

  .bar {
    border-bottom: solid 1px #ffffff;
  }
}
