@mixin mq_SP() {
  @media all and (max-width: $screenSize-SP-MAX) {
    @content;
  }
}

@mixin mq_TL() {
  @media all and (max-width: $screenSize-TL-MAX) {
    @content;
  }
}

@mixin mq_PC() {
  @media all and (min-width: $screenSize-PC-MIN) {
    @content;
  }
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin fadeIn {
  @keyframes key_fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  animation: key_fadeIn 0.5s ease-out 0s;
}

@mixin fadeOut {
  @keyframes key_fadeOut {
    from {
      display: block;
      opacity: 1;
    }

    to {
      display: none;
      opacity: 0;
    }
  }

  animation: key_fadeOut 0.2s ease-out 0s;
}