// color
$primary-color: #222537;
$secondary-color: #CEDDE0;
$accent-color: #EA625F;
$bg-gray: #F2F1ED;
$text-black: #343434;
$text-white: #ffffff; 

// typography
$base-font: 16px;
$h1-font: 50px;
$h2-font: 30px;
$sidebar-main: 20px;
$sidebar-sub: 18px;
$menu-font: 15px;
$subtitle-font: 25px;

// Breakpoints
$screenSize-SP-MAX: 743px;
$screenSize-TL-MIN: 744px;
$screenSize-TL-MAX: 1024px;
$screenSize-PC-MIN: 1025px;
$screenSize-PC-MAX: 1200px;

// component
$header-height: 200px;
$footer-height: 50px;
