// color
$primary-color: #222537;
$secondary-color: #CEDDE0;
$accent-color: #EA625F;
$bg-gray-base: #efefef;
$bg-gray: #F2F1ED;
$text-black: #343434;
$text-white: #ffffff;
$disabled-color: #cccccc;

// typography

$h1-font: 50px;
$h2-font: 30px;
$subtitle-font: 25px;
$sidebar-main: 20px;
$sidebar-sub: 18px;
$base-font: 16px; // Default font
$menu-font: 15px;
$base-sub-font: 14px;
$base-small-font: 12px;

$font-bold: bold;

// Breakpoints
$screenSize-SP-MAX: 743px;
$screenSize-TL-MIN: 744px;
$screenSize-TL-MAX: 1024px;
$screenSize-PC-MIN: 1025px;
$screenSize-PC-MAX: 1200px;

// component
$header-height: 200px;
$footer-height: 50px;

$border-default: solid 1px #cccccc;
